.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
    padding: 1rem;
    height: 90vh;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5px;
}

button {
    align-self: flex-end;
}

.jobs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h4 {
    color: var(--purple);
}