.container {
  padding: 1rem;
  background-color: #f3f2ef;
  min-height: 100vh;
  display: flex;
  flex: 1;
}

.content {
  width: 80%;
  flex-shrink: 0;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}