.uploadWrapper {
  margin-top: 1rem;
  text-align: center;
}

.uploadButton {
  display: inline-block;
  background-color: var(--background-2);
  color: inherit;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  width: 100px;
}

.uploadButton:hover {
  transform: scale(1.03);
}

.hiddenInput {
  display: none;
}

.uploadMessage {
  margin-top: 10px;
  font-weight: bold;
}

.fileName {
  margin-top: 5px;
  color: #555;
  font-size: 0.9rem;
}
