.profile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
    padding: 1rem;
    height: 90vh;
}

img {
    width: 25%;
    border-radius: 50%;
    align-self: center;
    border: 5px solid var(--background-2);
}

input, textarea {
    width: auto;
    background-color: inherit;
    padding: 5px;
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    border: 1px solid var(--background-2);
    font-size: 18px;
}

label, p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

strong {
    color: var(--purple);
}

a {
    color: var(--purple);
}