.edit_btn {
    width: 70px;
    background-color: var(--background-2);
    color: var(--purple);
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.content {
    display: flex;
    gap: 10px;
}

.btn_icon {
    color: var(--purple);
}