.linkedin-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.linkedin-img-full {
  width: 240px; /* אפשר להתאים לפי הצורך */
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.linkedin-img-full:hover {
  transform: scale(1.03);
}
