.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
}

.new_event_btn {
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    align-self: flex-end;
    width: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.events {
    display: flex;
    gap: 2rem;
    align-self: center;
    flex-wrap: wrap;
}

.event {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.event:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}