.event_page {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-self: end;
    width: max-content;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details>h3{
    display: flex;
    gap: 10px;
}

.external_link {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    justify-self: end;
}

.user_table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem 1.5rem;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.row {
    display: contents;
}

.header>h3 {
    font-weight: bold;
    border-bottom: 2px solid var(--background-2);
    padding-bottom: 0.5rem;
    font-size: 16px;
    display: flex;
    gap: 10px;
}

.header>h3>i {
    color: var(--background-2);
}

.status_r {
    background-color: var(--brown);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.status_a {
    background-color: #a7b58e;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}